.main {
    background: #E5E5E5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 620px;
    height: auto;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 20px 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(73, 73, 73, 0.74);
    position: relative;
}

.main-content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.25em;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 30px;
}

.main-form fieldset label, .main-form fieldset input {
    text-align: left;
    display: block;
}

.main-form {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
}

.main-form label {
    font-size: 1em;
    color: #767676;
    margin-bottom: 5px;
}

.main-form input {
    box-sizing: border-box;
    font-size: 0.875em;
    padding: 10px;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    transition: 0.5s background;
}

.main-form input:focus {
    background: #0dbdbd1e;
}

.name {
    flex: 1 1 100%;
    margin: 0 5px 0 5px;
}

#full-name {
    width: 100%;
}

.email-pwd {
    flex: 2 1;
    margin: 0 10px 0 5px;
}

#email, #password, #phone, #birthday, #full-name {
    width: 100%;
    margin: 0 0 5px 0;
}

.phone-bd {
    flex: 1 1;
    margin: 0 5px 0 10px;
    
}

.check-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 5px 10px 5px;
}

.check-btn label {
    text-shadow: 1px 1px 5px rgba(73, 73, 73, 0.5);
    color: #111111;
    line-height: 1.125;
}

#checkbox {
    display: inline;
}

.register-btn {
    background: #0DBDBD;
    font-size: 1em;
    line-height: 1.125;
    border: 0px;
    border-radius: 10px;
    padding: 12px;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 650px) {
    .main {
        background: #FFFFFF;
    }

    .main-content {
        box-shadow: none;
    }

    .main-form {
        flex-direction: column;
    }

    .name {
        margin: 0 20px 0 20px;
    }

    .email-pwd {
        margin: 0 20px 0 20px;
    }

    .phone-bd {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: 0 20px 0 20px;
    }

    .phone, .birthday {
        flex: 1;
        width: 50%;
    }
    
    .phone {
        margin: 0 5px 20px 0;
    }

    .birthday {
        margin: 0 0 20px 5px; 
    }

    .check-btn {
        display: block;
    }

    .register-btn {
        width: 100%;
    }
}

.success {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: inherit;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 20px 40px;
    text-align: center;
    border-radius: 20px;
    z-index: -1;
}

.error {
    color: #FF4B4B;
    text-align: left;
    font-size: 0.875em;
}

fieldset .error {
    margin: 10px 0 30px 0;
}

.back-btn {
    background: #0DBDBD;
    font-size: 2.25em;
    padding: 80px 65px;
    border-radius: 10px;
    color: #FFFFFF;
    border: 1px solid #0DBDBD;
    cursor: pointer;
    margin: 40px 0 50px 0;
    font-weight: 400;
}
